.aspect-menu {
    padding: 0.5rem;
    overflow-y: auto;
    background: black;
	color: white;
	scrollbar-width: none;
}

.aspect-item {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    cursor: pointer;
}

.aspect-item:hover {
    background-color: #222;
    transition: background-color .3s ease-in-out;
}

.aspect-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 3rem;
}

.node-icons {
    display: flex;
    margin-right: 1rem;
}

.node-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
}

.aspect-values {
    flex-grow: 1;
    text-align: right;
	font-size: 0.7em;
    margin-right: 1rem;
}

.delete-button {
    border: none;
    background: transparent;
    cursor: pointer;
    //color: red;
    color: white;
	padding: 0;
    font-size: 1rem;
}

.aspect-label {
  width: 4rem;
  font-size: 0.7rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 2rem;
  text-align: left;
  font-weight: bold;
  font-variant: small-caps;
}
