.input-field {
	width: 100%;
	background: transparent;
	border: none; 
	border-bottom: 1px solid white;
	padding: 4px 0;
	outline: none; 
	color: white;
	font-size: 14px; 
	font-weight: normal;
    transition: border-bottom-color 0.2s ease-in-out; 
    box-sizing: border-box; 
}

.input-field.error {
    border-bottom: 1px solid red;
}
